# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

*.codekit

sites/all/themes/nsiweb/css/style.css

sites/all/themes/nsiweb/css/style.css

config.codekit
