body.node-type-contactenos {
  .main-container {
    margin-top: 40px;
  }
  .node-contactenos.view-mode-full {
    padding-bottom: 60px;
  }
  .field-name-mapa-de-contacto{
   .make-md-column(7);
   width:90%;
  }
  strong{
    font-size: 20px;
  }
  p{
    margin-top: 2%;
    margin-bottom: 2%;
      @media(min-width: @screen-desktop) {
      margin-top: 8%;
      margin-bottom: 8%;
    }

  }
  .field-name-body{
   .make-md-column(3);
  }
  footer.footer {
    .block-block p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}