#contactenos {
  margin-top: -35px;
  padding-top: 35px;
  overflow: auto;
  float: left;
  width: 100%;
  width: -moz-available;
  .field-name-mapa-de-contacto{
   .make-md-column(7);
  }
  strong{
    font-size: 20px;
  }
  p{
    margin-top: 2%;
    margin-bottom: 2%;
      @media(min-width: @screen-desktop) {
      margin-top: 8%;
      margin-bottom: 8%;
    }

  }
    .field-name-field-texto-cont-ctenos{
   .make-md-column(3);
  }
}