#alimentacion {
  // .make-sm-column(12);
	background: url('../assets/alimentacion.jpg');
	background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  margin-top: -35px;
  padding-top: 35px;
  @media (max-width: @screen-xs-max) {
    background-position-y: 150px;
    min-height: 1000px;
  }
  @media (max-width: @screen-xs) {
    min-height: 900px;
  }
  .node-feeding.view-mode-full {
  	.make-sm-column(6);
    @media (max-width: @screen-xs-max) {
      margin-bottom: 30px;
    }
    .group-left {
      .make-xs-column(3);
      img {
        width: 100%;
        height: auto;
      }
    }
    .group-right {
      .make-xs-column(9);
    }
  }
}